_aenea_py.txt
_bringme.py
_cmdmemory.py
_firefox.py
_mouse_grid_py.txt
_multiedit.py
_taskbar_py.txt
_vocola_main.py
_winctrl_py.txt
config.json
core/
grid_base.py
notepad.py
notepad++.py
testscript.py
*.pyc
